fastapi==0.135.1
uvicorn==0.41.0

pydantic==2.12.5
pydantic-settings==2.13.1

python-dotenv==1.2.2
python-multipart==0.0.22

httpx==0.28.1

watchfiles==1.1.1
uvloop==0.22.1
httptools==0.7.1

typing_extensions==4.15.0